/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 0;
  background-color: #111;
}

div {
  padding: 2px 5px;
  border: 1px solid rgba(5, 5, 5, 0.8);
  margin: 1px;
}

section {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

div, span, time, label, input {
  line-height: 0.9rem;
  font-size: 0.75rem;
}

input {
  border: 0;
  background-color: transparent;
  color: rgba(20, 200, 100, 0.8);
  width: 100px;
}

span {
  padding: 1px;
  margin: 1px;
  display: inline-block;
  color: #fff;
  width: 100px;
}

.critical {
  color: #f00;
  font-weight: bold;
}

label {
  width: 55px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
}

#time, #health {
  color: #fff;
  padding: 5px;
  margin: 1px;
  display: block;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  border: 0px;
  padding: 2px 5px;
  background-color: rgba(10, 200, 230, 0.9);
  border-top: 2px solid #fff;
  border-left: 2px solid #111;
}

button:hover {
  background-color: rgba(180, 180, 10, 0.8);
  border-top: 2px solid #f00;
  border-left: 2px solid #fff;
}

button[disabled] {
  opacity: 0.5;
  background-color: transparent;
}