body {
  font-family: Arial;
  margin: 0;
  background-color: #111;
}

div {
  padding: 2px 5px;
  margin: 1px;
  background-color: #111;
  width: 180px;
}

section {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

div, span, time, label, input {
  line-height: 0.9rem;
  font-size: 0.75rem;
}

input {
  border: 0;
  background-color: transparent;
  color: rgb(20, 200, 100);
  width: 100px;
}

span {
  padding: 1px;
  margin: 1px;
  display: inline-block;
  color: #fff;
  width: 100px;
}

.critical {
  color: #f00;
  font-weight: bold;
}

label {
  width: 55px;
  display: inline-block;
  color: rgb(255, 255, 255);
}

#time, #health {
  color: #fff;
  padding: 5px;
  margin: 1px;
  display: block;
}

canvas {
  position: absolute;
  background-color: transparent;
  left: -20px;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;

}

button {
  border: 0px;
  padding: 2px 5px;
  background-color: rgba(10, 200, 230, 0.9);
}

button:hover {
  background-color: rgba(200, 10, 210, 0.8);
}

button[disabled] {
  opacity: 0.5;
  background-color: transparent;
}

#final {
  position: absolute;
  opacity: 1.0;
  transition: 1s opacity;
  top: 100px;
  left: 0;
  width: 95vw;
  padding: 2vw;
  z-index: 3;
  color: rgba(202, 170, 50, 0.9);
  line-height: 1.3rem;
  font-size: 1.1rem;
}

#final.hidden {
  opacity: 0.0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#experiences {
  width: auto;
}

#experiences p {
  padding: 2px 3px;
  margin: 2px;
  display: inline-block;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 3px;
}

#experiences p em {
  color: rgb(20, 200, 210);
}

li {
  margin: 2px 5px;
}

h2 {
  font-size: 1.3rem;
}

button#reset {
  background-color: #aaa;
}

#world {
  background: linear-gradient(45deg, rgba(46, 234, 121, 0.677), rgba(1, 1, 1, 0));
  box-shadow: rgba(29, 15, 238, 0.4) 2px 2px 2px;
  inset: 10vh 10vh 10vw 30vh;
}

#motifs span {
  background: linear-gradient(90deg, rgba(6, 186, 132, 0.85) 60%, rgba(243, 85, 28, 0.4));
}

#knobs li {
  background-color: rgb(78, 27, 10);
  background: radial-gradient(circle at 80% 10%, rgba(95, 32, 255, 0.7) 20%, rgba(39, 32, 255, 0.3) 100%);
  box-shadow: rgba(36, 103, 10, 0.58) -13px -2px 2px;
  color: #0cdae9;
}

#home:hover {
  background-color: rgba(8, 83, 181, 0.8);
  color: rgb(255, 152, 100);
}