/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  background-color: #111;
}

div {
  padding: 5px;
}

section {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

div, span, time, label, input {
  line-height: 0.9rem;
  font-size: 0.75rem;
}

input {
  border: 0;
  background-color: transparent;
  color: rgba(20, 200, 100, 0.8);
}

span {
  padding: 1px;
  margin: 1px;
  display: inline-block;
  color: #fff;
}

.critical {
  color: #f00;
  font-weight: bold;
}

label {
  width: 55px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
}

#time, #health {
  color: #fff;
  padding: 5px;
  margin: 1px;
  display: block;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}